<div class='text-center'ng-controller='mainController'>
	<h1 class='page-header'>Grow the Web with Referrals!</h1>

	<form class='form-inline'>
		Add a Link: <input class='form-control' type='text' name='newLink' ng-model='newLink.name'>
		<input class ='btn btn-success' type='submit' value='Add' ng-click="addLink()">
	</form>
	<table class='table table-bordered table-condensed table-responsive'>
		<tr>
			<th>Link Title</th>
			<th>Clicks</th>
			<th>Edit Link</th>
			<th>Delete Link</th>
			<th>URL</th>
		</tr>
		<tr ng-repeat='link in links'>
			<td>{{ link.name }}</td>
			<td>{{ link.clicks }}</td>
			<td><a class='btn btn-primary' href="#/edit/{{ link.name }}">Edit</a></td>
			<td><button class='btn btn-danger' ng-click='removeLink(link)'>Delete</button></td>
			<td><a href='{{link.url}}'>{{ link.url }}</a></td>
		</tr>
	</table>
</div>